<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Dịch Vụ</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="css/template.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
  <link href="css/template-ie.css" rel="stylesheet" type="text/css" /> 
  <link rel="stylesheet" href="css/jstyle.css" type="text/css">
  <link href="css/home.css" rel="stylesheet" type="text/css" />
  <link href="css/gioithieu.css" rel="stylesheet" type="text/css" />
  <link href="css/tintuc.css" rel="stylesheet" type="text/css" />
  <link href="css/dichvu.css" rel="stylesheet" type="text/css" />
  <script src="js/mootools-core.js" type="text/javascript"></script>
  <script src="js/jquery_002.js" type="text/javascript"></script>  
  <script src="js/menu.js" type="text/javascript"></script>
  <script src="js/script_002.js" type="text/javascript"></script>
  <script src="js/jscript.js" type="text/javascript"></script>


<!-- META FOR IOS & HANDHELD -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="HandheldFriendly" content="true">
<meta name="apple-mobile-web-app-capable" content="YES">
<!-- //META FOR IOS & HANDHELD -->
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- For IE6-8 support of media query -->
<!--[if lt IE 9]>
<script type="text/javascript" src="js/respond.min.js"></script>
<![endif]-->
<!-- You can add Google Analytics here-->

<!--[if IE 8]>
<style type="text/css">
.container
{
width:1188px;
}
</style>
<![endif]--> 
</head>
<body>
<!-- BEGIN HEADER -->
<div class="container">

	<div class="logo">
		<a href="#"><img src="images/logo.png" alt="logovaco"></a>
	</div>
	<div class="langsear">
		<div class="language">
			<div class="english"><a href="#">  |  Enghlish</a></div>
			<div class="vietnam actlang"><a href="#">Tiếng Việt</a></div>
		</div>
		
		<div class="t_search">
				<div class="sear_input"><input name="" type="text" value="Tìm Kiếm"></div>
				<div class="btn_search"><a href="#"><img src="images/btn_search.png" alt="logovaco"></a></div>
		</div>   
	</div>
	<!-- BEGIN MAIN MENU -->
	<nav id="t3-mainnav" class="wrap t3-mainnav ">
		<div class="navbar container">
			<div class="nav-collapse collapse">
				<div class="t3-megamenu">
					<ul class="nav">    
						<li class="active"><a href="#">Trang chủ</a></li>
                        <li><a href="#">Giới thiệu</a></li>						
						<li class="dropdown">
							<a href="#">Tin tức</a>
							<div class="nav-child dropdown-menu">
								<ul class="mega-nav">
									<li><a href="#">Tin vaco</a></li>
									<li><a href="#">Tin thời sự</a></li>
									<li><a href="#">Thông cáo báo chí</a></li>
									<li><a href="#">Quy định mới </a></li>
									<li><a href="#">Tóm tắt VBPL </a></li>
								</ul>
							</div>                        
						</li>
                        <li><a href="#">Dịch vụ</a></li>
                        <li><a href="#">Thông Tin Ngành</a></li>
                        <li><a href="#">Mạng  Lưới </a></li>
                        <li><a href="#">Tuyển Dụng</a></li>						
						<li><a href="#">Liên hệ </a></li>
					</ul>
				</div>
			</div>
		</div>
</nav>
	<!-- END MAIN MENU  -->

<!-- END HEADER -->
<!-- BEGIN BREAK -->
	<div class="container">
        <div class="bg_break">
            <div class="text_under"><a href="#">Trang chủ</a></div> 
           	<div class="text_nomal"><a href="#">Dịch vụ</a></div>
        </div>	
    </div>
<!-- END BREAK -->
<!-- BEGIN LEFT MENU -->
	<div class="gt_colone">
    	<div class="tit_menuleft"><span class="text_title_lm"><a href="#">Dịch Vụ</a></span></div>
        <div class="leftmenu">
        	<div class="tx_leftmenu"><a href="#">Dịch vụ kiểm toán</a></div>
            <div class="tx_leftmenu"><a href="#">Dịch vụ kiểm soát rủi ro doanh nghiệp (ERS)</a></div>
            <div class="tx_leftmenu"><a href="#">Dịch vụ tư vấn và giải pháp doanh nghiệp</a></div>
            <div class="tx_leftmenu"><a href="#">Dịch vụ tư vấn thuế</a></div>
            <div class="tx_leftmenu"><a href="#">Dịch vụ đào tạo và quản lý nguồn nhân lực</a></div>           
        </div>
        <div class="vacoprofile">
        	<div class="tit_profile"><a href="#">VACO Profile</a></div>
            <div class="img_profile"><a href="#"><img src="images/img_profile.png" width="100%"></a></div>
        </div>
    </div>
<!-- END LEFT MENU -->
<!-- BEGIN CONTENT -->	
	<div class="gt_coltwo">
    	<div class="tit_blue">Dịch Vụ</div>
        <div class="img_content"><img src="images/dichvu.jpg" width="100%"/></div>
        <div class="tx_content">
        	<div class="collefto">
            	 <div class="tit_service">Dịch vụ kiểm toán</div>
                 <div class="li_ser"><a href="#">Kiểm toán báo cáo tài chính theo luật định Kiểm toán báo cáo tài chính cho mục đích đặc biệt Kiểm toán hoạt động</a></div>
                 <div class="li_ser"><a href="#">Kiểm toán tuân thủ</a></div>
                 <div class="li_ser"><a href="#">Kiểm toán quyết toán vốn đầu tư hoàn thành</a></div>
                 <div class="li_ser"><a href="#">Kiểm toán báo cáo quyết toán dự án</a></div>
                 <div class="li_ser"><a href="#">Soát xét thông tin trên báo cáo tài chính</a></div>
                 
                 <div class="tit_service">Tư vấn huy động vốn</div>
                 <div class="li_ser"><a href="#">Tư vấn huy động vốn</a></div>
                 <div class="li_ser"><a href="#">Tư vấn doanh nghiệp</a></div>
                 <div class="li_ser"><a href="#">Soát xét toàn diện hoạt động doanh nghiệp</a></div>
                 <div class="li_ser"><a href="#">Tư vấn tái cơ cấu tài chính doanh nghiệp</a></div>
                 <div class="li_ser"><a href="#">Tư vấn mua bán, tách,sáp nhập,giải thể doanh nghiệp</a></div>
                 <div class="li_ser"><a href="#">Tư vấn xác định giá trị doanh nghiệp</a></div>      
                 
                 <div class="tit_service">Dịch vụ đào tạo và quản lý nguồn nhân lực</div>
                 <div class="li_ser"><a href="#">Tổ chức đào tạo và hội thảo</a></div>
                 <div class="li_ser"><a href="#">Quản lý nguồn nhân lực</a></div>           
            </div>
            <div class="colleftt">
            	 <div class="tit_service">Quản lý nguồn nhân lực</div>
                 <div class="li_ser"><a href="#">Soát xét và đánh giá hệ thống kiểm soát nội bộ</a></div>
                 <div class="li_ser"><a href="#">Kiểm toán nội bộ</a></div>
                 <div class="li_ser"><a href="#">Kiểm soát, đánh giá rủi ro hệ thống công nghệ thông tin </a></div>
                 <div class="li_ser"><a href="#">Các dịch vụ kiểm soát và tư vấn rủi ro khác</a></div>
                 
                 <div class="tit_service">Dịch vụ tư vấn thuế</div>
                 <div class="li_ser"><a href="#">Hoach định chiến lược thuế</a></div>
                 <div class="li_ser"><a href="#">Tư vấn lập kế hoạch thuế, lập tờ khai/ báo cáo các loại thuế </a></div>
                 <div class="li_ser"><a href="#">Tư vấn về hoàn thuế, ưu đãi thuế</a></div>
                 <div class="li_ser"><a href="#">Soát xét tính tuân thủ luật thuế của doanh nghiệp gồm: Thuế giá trị gia tăng, thuế thu nhập doanh nghiệp, thuế xuất nhập khẩu, thuế nhà thầu, thuế thu nhập cá nhân cho người Việt Nam và người nước ngoài làm việc tại Việt Nam.</a></div>
                 <div class="li_ser"><a href="#">Tư vấn cơ cấu kinh doanh có hiệu quả cho mục đích tính thuế</a></div>
            </div>
        </div>
    </div>
<!-- END CONTENT -->
<!-- BEGIN RIGHT COLUM -->
	<div class="gt_colthree">
    	<div class="tit_add">Văn phòng đại diện</div>
        <div class="address">
        	<strong>Trụ sở chính:</strong><br />Tầng 4, số 168 Đường Láng, Quận Đống Đa, Hà Nội<br />Điện thoại: (84-4) 3 577 0781<br />Fax: +(84-4) 3 577 0787
        </div>
        <div class="address">
        	<strong>Chi nhánh Hải Phòng:</strong><br />Số 499 Quán Toan, Quận Hồng Bàng, TP Hải Phòng<br />Điện thoại: 031. 3534655<br />Fax: 031. 3534 316
        </div>
        <div class="tit_video">Video Clip</div>
        <div class="video"><img src="images/video.jpg" width="100%"></div>
    </div>
<!-- END RIGHT COLUM -->
<!-- BEGIN FOOTER -->
<div class="container">
	<div class="footer">
    	<div class="copyyright">© 2014 Bản quyền thuộc về Công ty TNHH Kiểm toán VACO</div>
        <div class="mxh">
        	<div class="facebook"><a href="#"><img src="images/facebook.png"></a></div>
            <div class="tew"><a href="#"><img src="images/tew.png"></a></div>
            <div class="you"><a href="#"><img src="images/you.png"></a></div>
            <div class="top"><a href="#"><img src="images/top.png"></a></div>
        </div>
    </div>
</div>
<!-- END FOOTER -->
</div>
</body>
<script type="text/javascript">
		var _lofmain =  $('lofass223'); 
		var object = new LofArticleSlideshow( _lofmain,
		{ 
		fxObject:{
		transition:Fx.Transitions.Expo.easeIn,  
		duration:500                    },
		startItem:0,
		interval:5000,
		direction :'opacity', 
		navItemHeight:85,
		navItemWidth:315,
		navItemsDisplay:4,
		navPos:'0',
		autoStart:1,
		descOpacity:1                  } );
		object.registerButtonsControl( 'click', {next:_lofmain.getElement('.lof-next'),
		previous:_lofmain.getElement('.lof-previous')} );
</script> 
</html>